*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    //this defines what 1rem is
  font-size: 10px; /*1rem = 10px*/
}

body {
  box-sizing: border-box;
  background-color: $body-color;
}
