.header {
  height: $header-height;
  background-image: linear-gradient(
     to right, 
     rgba($color-primary-light,0.95),
     rgba($body-color,0.95) );
  background-size: cover;
  background-position: top;
  overflow: hidden;
  z-index: 1000;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 4rem;  
  }
  &__logo{
    height: 3.5rem;  
  }
  &__text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;  
  }
  &__keypad{
    position: absolute;
    top: 3rem;
    right: .5rem;  
  }
}