.btn {
  &,
  &:link,
  &:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.5rem;
    position: relative;
    margin-right: 1rem;
    font-weight: 900;
  }

  &--selected{
    opacity: .5;
    transform: translateY(-1px);
    box-shadow: 0px .5rem 1rem rgba($color-black,.2);  
  }

  &:hover:not(&--selected) {
    transform: translateY(-.3rem);
    box-shadow: 0px 1rem 2rem rgba($color-black,.2);
    
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0px .5rem 1rem rgba($color-black,.2);  
  }  
  
  &::after {
    
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
  
  
  &--white{
    background-color: $color-white;
    color: $color-grey-dark;   
    
    &::after {
      background-color: $color-white;
    }

  }
  
  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    /* .75s is the delay before the animation */
    animation-fill-mode: backwards;
    /* it applies the properties in the 0% before de animation begins */
  }
  
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s;
    
  }
  
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    transform: translateY(-2px);
    box-shadow: 0px 1rem 2rem rgba($color-black,.15);
    
  }
  
  &:active {
     transform: translateY(0);
     box-shadow: 0px .5rem 1rem rgba($color-black,.15);
  }
}