


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    overflow: scroll;
    background-color: white;
  //  width: 100%;
    animation: fade-in 5s;
    table-layout: fixed;
    thead {
            &.thead--hidden{
                display: none;
                opacity: 0;
            }
     //   transition: all 3s linear;
    //    animation: fade-in 3s;
        &.fixTableHeader {
            opacity: 1;
            display: block;
            position: fixed;
            top: $header-height;
            z-index: 3000;
           // border: solid 2px red !important;
       //     width:auto;
            transition: all 3s linear;
            animation: fade-in 3s;
            background-color: white;
            th{
                border-color: transparent;    
            }
            
        }
    }

    
    tr{
    
    font-size: 1.2rem;
    
    &.MINOR {
        background-color: $minor-color;
        color: $minor-letter-color;
    }
    &.CRITICAL {
        background-color: $critical-color;
        color: $critical-letter-color;
    }
    &.WARNING {
        background-color: $warning-color;
        color: $warning-letter-color;
    }
    &.MAJOR {
        background-color: $major-color;
        color: $major-letter-color;
    }
}

td,th {
    &.sitio{
        
        font-size: 1rem;
        font-weight: 400;
       // white-space: nowrap
    }
    
    &.one{ width: 7vw}
    &.two{ width: 7vw}
    &.three{ width: 19vw}
    &.four{ width: 20vw}
    &.five{ width: 24vw}
    &.six{ width: 23vw}
    &.seven{ 
        width: 4vw;
        font-size: 1rem;
    }
    
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

    
    
    
    
}



