@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
$comp-width: 20rem;
$box-width: 90rem;

.box{
  animation: fade-in 3s;
  width: $box-width;
  display: block;
  height: $comp-width;
  position: relative;
  top: 4rem;
  left: calc(50% - #{$box-width}/2);
 // border: solid .1px red;
  margin-bottom: 10rem;
}

.comp{
  position: absolute;
  width: $comp-width;
  height: $comp-width;
  border: 3px solid #fff;
  border-radius: 5px;
  &--left{
    top: 0;
    left: 0;
  }
  &--right{
    top: 0;
    right: 0;
  }
  
  &__text{
    font-family: 'Lato', sans-serif;
    position: absolute;
    color: white;
    bottom: .5rem;
    left: 1.5rem;
    display: block;
    font-size: 2.5rem;
  }
  &--alarm{
    outline: solid 1rem;
    outline-offset: .5rem;
    transition: all 2s ease;
    animation: pulse 1s infinite linear;
    animation-direction: alternate;
  }
  &--alarm--NONE{
    outline-style: none;
    animation: none;
    
  }
  &--alarm--CRITICAL{
    outline-color: $critical-color;
  }
  &--alarm--MAJOR{
    outline-color: $major-color;
  }
  &--alarm--WARNING{
    outline-color: $warning-color;
  }
  &--alarm--MINOR{
    outline-color: $minor-color;
  }
}


@keyframes pulse{
  0%{
    outline: solid 0;
  }
  100%{
    outline: solid 1;
  }
  
}



.comp:after{
  content: '';
  position: absolute;
  z-index: 5;
  top: 4rem;
  left: .5rem;
  width: $comp-width - 1.5rem;
  height: 4rem;
  border-radius: 360px;
  border: 3px solid #fff;

}

.loader{
  position: absolute;
  z-index: 5;
  width: $comp-width -1.5rem;
  height: 3.4rem;
  border-radius: 360px;
  background: white;
  animation: loader 5s infinite linear 0.5s;
  &--left{
    top: 4.6rem;
    left: 1rem;
  }
  &--right{
    top: 4.6rem;
    right: 1rem;
  }

}


@keyframes loader{
  0%{
    width: 1%;
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  100%{
    width: $comp-width - 1.6rem;
  }
}






.id-enlace{
  position: absolute;
  color: white;
  font-size: 1.7rem;
  left: $comp-width * 2;
  &--top{
    top:0;
  }
  &--bottom{
    bottom:0rem;
  }
}



.con{
  position: absolute;
  width: $box-width - $comp-width * 2;
  height: .3rem;
  left:$comp-width;
  background: #fff;
  &--1{
    top: 3rem;
  }
  &--2{
    top: 6rem;
  }
  &--3{
    bottom: 3rem;
  }
  &--4{
    bottom: 6rem;
  }
  &--fail{
    background: red;
  }

  
}

.byte{
  position: absolute;
  height: 1rem;
  width: 1rem;
  background: #fff;
  border-radius: 360px;
  z-index: 6;
  opacity:0;
  &--fail{
    visibility: hidden;
  }
  
  &--1{
    top: 3rem;
    animation: byte_animate 4s infinite linear 0.5s;
    transform: translateY(-.35rem);
    
  }
  &--2{
    top: 6rem;
    animation: byte_animate 4s infinite linear 2s;
    transform: translateY(-.35rem);
    animation-direction: reverse;
  }
  &--3{
    bottom: 3rem;
    animation: byte_animate 4s infinite linear 3s;
    transform: translateY(.35rem);
    animation-direction: reverse;
  }
  &--4{
    bottom: 6rem;
    animation: byte_animate 4s infinite linear 4s;
    transform: translateY(.35rem);
    
  }
  
}


@keyframes byte_animate{
  0%{
    opacity: 1;
    left: $comp-width - .1rem;
  }
  10%{
    opacity: 0;
  }
  20%{
     opacity: 1;
  }
  30%{
     opacity: 0;
  }
  40%{
     opacity: 1;
  }
  50%{
     opacity: 0;
   }
  60%{
     opacity: 1;
  }
  70%{
     opacity: 0;
  }
  80%{
     opacity: 1;
  }
  90%{
     opacity: 0;
  }
   100%{
    opacity: 1;
    left: $box-width - $comp-width - .4rem;
  }
}












.server{
  position: absolute;
  top: 22px;
  left: 185px;
  width: 35px;
  height: 35px;
  z-index: 1;
  border: 3px solid #fff;
  background: #459BF9;
  border-radius: 360px;
  -webkit-transform: rotateX(58deg);
  -moz-transform: rotateX(58deg);
  -o-transform: rotateX(58deg);
  transform: rotateX(58deg);
}

.server:before{
  content: '';
  position: absolute;
  top: -47px;
  left: -3px;
  width: 35px;
  height: 35px;
  z-index: 20;
  border: 3px solid #fff;
  background: #459BF9;
  border-radius: 360px;
}

.server:after{
  position: absolute;
  top: -26px;
  left: -3px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  width: 35px;
  height: 40px;
  z-index: 17;
  background: #459BF9;
  content: '';
}



/*FADE IN-OUT*/
@-webkit-keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}

@-moz-keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}

@-o-keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}